/*****Styling af card billeder*****/
.product-card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

/*****Styling af sort knapper*****/
.button-box {
  display: flex;
  gap: 10px;
}

.sortBtn {
  background-color: #d6bbc4;
  color: #542f3c;
  padding-block: 1rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: block;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.sortBtn2 {
  background-color: #d6bbc4;
  color: #542f3c;
  padding-block: 1rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.sortBtn:hover {
  background-color: #bba0a9;
  color: #542f3c;
}

/*****Styling af main box*****/
.main-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/*****Grid layout for product cards*****/
.productbox-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-bottom: 3rem;
}

.product-card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 9;
  border-radius: 20px;

  background-color: #ffe7ef;
  color: #683b4b;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-decoration: none;
}
/****Styling af card info, padding og tekst***/
.card-info {
  padding: 1rem;
  padding-top: 0;
  display: contents;
}

.card-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-name {
  font-size: 1.3rem;
}

.pris {
  font-size: 1.2rem;
}

/*Styling af knap*/
article .button {
  background-color: #d6bbc4;
  color: #542f3c;
  text-decoration: none;
  padding-block: 1rem;

  border-radius: 15px;
  text-align: center;
  display: block;

  box-sizing: border-box;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button:hover {
  background-color: #996e7c;
  color: #391220;
}

/*Styling af badge for tilbud, udsolgt og på lager*/
.badge {
  display: inline-block;
  padding: 0.25rem 0.55rem;
  border-radius: 999px;
  background: #ea580c;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600;
}

.badge2 {
  display: inline-block;
  padding: 0.25rem 0.55rem;
  border-radius: 999px;
  background: #0c13ea;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600;
}

.badge3 {
  display: inline-block;
  padding: 0.25rem 0.55rem;
  border-radius: 999px;
  background: #1eea0c;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 600;
}

/*Responsivt design for mindre skærme*/
@media screen and (max-width: 800px) {
  .productbox-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-bottom: 3rem;
  }

  .product-name {
    font-size: 1rem;
  }

  .pris {
    font-size: 1.5rem;
  }
}
